PORT=3000
NODE_ENV=development
AWS_REGION=eu-west-1
DB_ENDPOINT=http://localhost:8000
JWT_SECRET=local-dev-secret-change-me
USERS_TABLE_NAME=challenge-staging-users
URLS_TABLE_NAME=challenge-staging-urls
