role_arn               = "arn:aws:iam::ACCOUNT_ID:role/YourTerraformRole"
env_secret_manager_arn = "arn:aws:secretsmanager:eu-west-1:ACCOUNT_ID:secret:challenge/staging/app-config-AbCdEf"

# Optional
# ecr_ci_role_arns = ["arn:aws:iam::ACCOUNT_ID:role/YourGitHubActionsRole"]
# app_image_tag    = "latest"
